/Candyland.suo
/Candyland/Candyland/Properties/AssemblyInfo.cs
/Candyland/Candyland/Properties
/Candyland/Candyland/bin
obj
/Candyland/Candyland/Candyland.csproj.user
/Candyland/Candyland/Candyland.csproj.Debug.cachefile
/ToonShader/ToonShader.suo
/ToonShader/ToonShader/ToonShader/ToonShader.csproj.Debug.cachefile
/SceneEditor/SceneEditor.suo

/SceneEditor/SceneEditor/bin/Debug/EventTest.xml

/SceneEditor/SceneEditor/bin/Debug/HoehlenTest.xml

/SceneEditor/SceneEditor/bin/Debug/Scene.xml

/SceneEditor/SceneEditor/bin/Debug/SceneEditor.exe

/SceneEditor/SceneEditor/bin/Debug/SceneEditor.pdb
/SceneEditor/SceneEditor/bin/Debug/SceneEditor.vshost.exe
/SceneEditor/SceneEditor/bin/Debug/SceneEditor.vshost.exe.manifest
/SceneEditor/SceneEditor/bin/Debug/SceneSchieberaetselPrototyp.xml
/SceneEditor/SceneEditor/bin/Debug/SceneTest.xml
/SceneEditor/SceneEditor/bin/Debug/SceneTest2.xml
/SceneEditor/SceneEditor/bin/Debug/SpurwechselTest.xml
/SceneEditor/SceneEditor/bin/Debug/miniTestLevel.xml

/SkinnedModel/bin

/SkinnedModelPipeline/bin

/ToonShader/ToonShader/ToonShader/bin
/GimpBilder
