/Candyland.suo
/Candyland/Candyland/Properties/AssemblyInfo.cs
/Candyland/Candyland/Properties
obj
bin
/Candyland/Candyland/Candyland.csproj.user
/Candyland/Candyland/Candyland.csproj.Debug.cachefile
